@import "var";

// 表格样式重置
.el-table--mini,
.el-table--small,
.el-table__expand-icon {
  font-size: 14px !important;
}

.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px !important;
}
