// 主题颜色
$primary: #23b7e5;
$auxiliary: #7266ba;
$success: #27c24c;
$warning: #fad733;
$error: #e83d2c;

// 文本颜色
$link: #23b7e5;
$white: #ffffff;
$black: #000000;
$title: #333333;
$text: #555555;
$icon: #b4b6bd;
$secondary: #777777;
$disabled: #999999;
$border: #cfdadd;

// 背景色
$titleBg: #ecf7fa;
$headerBg: #3a3f51;
$mainBg: #f2f3f8;
